<header>
  <div class="header-container">
    <h1>Dobrodosli na sajt Lako Do Odmora</h1>
    <p>Pretrazite vas odmor po zeljenoj lokaciji</p>
    <a routerLink="/asortiman/all" class="btn">Pregledaj</a>
  </div>
</header>
<section class="section-lokacije">
  <h2>Preporucene lokacije:</h2>
  <hr>
  <div class="main-lokacija">
    <div>
      <a routerLink="/pretraga/Kopaonik">
      <img class="img-nesto" src="assets/img/kopaonik.jpg">
      </a>
      <p>Kopaonik</p>
    </div>
    <div>
      <a routerLink="/pretraga/Tara">
      <img class="img-nesto" src="assets/img/tara.jpg">
      </a>
      <p>Tara</p>
    </div>
    <div>
      <a routerLink="/pretraga/Beograd">
      <img class="img-nesto" src="assets/img/beograd.jpg">
    </a>
      <p>Beograd</p>
    </div>
    <div>
      <a routerLink="/pretraga/Nis">
      <img class="img-nesto" src="assets/img/nis.jpg">
      </a>
      <p>Nis</p>
    </div>
  </div>
  <section class="section-pet">
    <h2>Zanimljivosti</h2>
    <div class="main-pet">
      <h3 class="header3">Ako ne mozete da se odvojite od svog malog prijatelja <br> 
        koji vam je stalni saputnik pogledajte nasu ponudu pet friendly objekata:</h3>
      <div class="pet-pic">
        <img src="assets/img/bulldog.jpg">
        <p>Petfriendly</p>
      </div>
    </div>
  </section>

  <section class="section-info">
    <div class="info-content">
    <h3>Saznajte vise o nama</h3>
    <button class="">Info</button>
    </div>
  </section>

</section>